body {
    padding:0;
    margin:0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

svg {
    overflow: visible;
}

text {
    font-size: 2em;
}

rect {
    opacity: .7;
}

rect:hover {
    opacity: 1;
}